.newrealese {
    margin-top: 10px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newh1 {
    height: 70%;
    width: 30%;

}

.newh1 {
    margin-left: 20px;
    letter-spacing: 3px;
    color: white;
}

.newh1 h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin: 0;
    font-size: 35px;
}

.seeall {
    height: 70%;
    width: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.seeallh1 {
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.seeallh1 p {
    color: rgb(90, 89, 89);
    font-size: 15px;
    
}

.seealllogo {
    height: 70%;
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.seealllogo {
    color: rgb(62, 62, 62);
    font-size: 15px;
}