.listbox {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.kklist {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ffffff;
}

.kklist img {
    display: none;
    border-radius: 15px;
    object-fit: cover;
    height: 100px;
    width: 100px;
}

.kklist i {
    position: absolute;
    font-size: 40px;
    color: rgb(86, 86, 86);

}


.kklistname {
    display: flex;
    gap: 10px;
    color: #a2a2a2;;
}

.kktitle,
.kkother {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.kkartist {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.playerbutton {
    color: #ffffff;
    font-size: 25px;
    display: flex;
    gap: 15px;
}

.progressbar {
    display: flex;
    gap: 10px;
}

.time a {
    text-decoration: none;
    color: black;
}

.progressbar input {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

.progressbar input::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 10px;
    background-color: rgba(98, 98, 98, 0.599);
}

.progressbar input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: #a2a2a2;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    
    /* track ke center me lane ke liye */
}

.volume{
    height: 20px;
    width: 250px;
    display: flex;
    gap: 5px;
    margin-left: 10px;
}
.volume i{
    font-size: 20px;
    color: #a2a2a2;
    
}

.progressbar a{
    color: #a2a2a2;
}



.volume input {
    -webkit-appearance: none;
    width: 40%;
    background: transparent;
}

.volume input::-webkit-slider-runnable-track {
    height: 6px;
    border-radius: 10px;
    background-color: rgba(98, 98, 98, 0.599);
}

.volume input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background: #a2a2a2;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
    
    /* track ke center me lane ke liye */
}

